/* CSS Document */
td img {display: block;}

body {
	background-color:#ffffff;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.salto_pagina_despues{
 
     page-break-after:always;
 
}
 
#salto_pagina_anterior{
 
     page-break-before:always;
 
}
.subt_1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #040136;
}

.subt_2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}
.link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #006699;
}

.bordes1 {
	border: 1px solid #FFFFFF;
}

.botones {

	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	font-weight: bolder; color: #000000; 
	background-color: #EFEFEF; 
	height: 20px; 
	border: solid; 
	vertical-align: middle; 
	text-decoration: none; 
	top: 2px; 
	clip:  rect(   ); 
	border-width: 0px 1px 1px 0px; 
	border-color: black #000000 #000000 black
}
.txt_1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
}
.txt_2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
}
.txt_3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	text-transform: uppercase;
}
.txt_4_rojo {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #CC0000;
}
.txt_1_ancho {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #333333;
	width: 200px;
}
.txt_5_negrita {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000066;
	font-weight: normal;
}
.txt_5 {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	font-weight: normal;
}
.subt_3 {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: bold;
	color: #040136;
}
.txt_6 {


	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	font-weight: normal;
}
.txt_6_ancho {

	width: 230px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	font-weight: normal;
}
.bordes_inf_blanco {
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #FFFFFF;
}
.botones2 {


	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 9px; 
	font-weight: bolder; color: #000000; 
	background-color: #EFEFEF; 
	height: 17px; 
	border: solid; 
	vertical-align: middle; 
	text-decoration: none; 
	top: 2px; 
	clip:  rect(   ); 
	border-width: 0px 1px 1px 0px; 
	border-color: black #000000 #000000 black
}
.txt_1_rojo {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #990000;
}
.txt_1_verde {


	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #336600;
}
.txt_4_verde {


	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #336600;
}
.txt_7 {



	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #666666;
	font-weight: normal;
}
.subt_4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	text-transform: uppercase;
}
.txt_1_verde {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #003300;
}
.txt_1_rojo {


	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FF0000;
}
.txt_2_azul {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #003366;
}
.txt_8 {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
}
.subt_4_blanco {


	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
}
