BODY  {
	font-family : verdana,arial,helvetica;
	font-size : 10pt;
	background-color : #ffffff;
}

TD  {
	font-family : verdana,arial,helvetica;
	font-size : 10pt;
}

INPUT  {
	font-family : verdana,arial,helvetica;
	font-size : 8pt;
}

TEXTAREA  {
	font-family : verdana,arial,helvetica;
	font-size : 8pt;
}

SELECT  {
	font-family : verdana,arial,helvetica;
	font-size : 8pt;
}

.tablacalendario{
	width: 700px; height:550px;
}
.tablacalendario TD {
	font-family : verdana,arial,helvetica;
	font-size : 10pt; border:solid;
}
.diasemana  {
	font-family : verdana,arial,helvetica;
	font-size : 10pt;
	color: #ffffff;
	background-color: #666666;
	text-align: center;
}
.tit, .titmesano  {
	font-family : verdana,arial,helvetica;
	font-size : 10pt;
	color: #ffffff;
	background-color: #333333;
	font-weight: bold;
}
.titmesano{
	text-align: center;
}
.messiguiente, .mesanterior{
	font-size:10pt;
	font-weight:bold;
	color:white;
}
.mesanterior{
	text-align: right;
}
.messiguiente a, .mesanterior a{
	color:white;
	text-decoration:none;
}
.diavalido{
	text-align:left;
}
.diainvalido{}

.hoy {
	font-family : verdana,arial,helvetica;
	font-size : 10pt;
	color: 000099;
}
.domingo {
	font-family : verdana,arial,helvetica;
	font-size : 10pt;
	color: 990000
}
.diario {
	font-family : verdana,arial,helvetica;
	font-size : 10pt;
	color: 000000;
}
.tform {
	border-width: 1px;
	border-color: 75263C;
	border-style: solid;
}
